<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!--
  ===2015-01-23=== Modify by Yuhsuan
  
  1. Add appSettings tag to control debug mode

-->
<configuration>

  <appSettings>
    <add key="Debug_Mode" value="False"/>
  </appSettings>
  
  <connectionStrings>
	<!--Debug web config-->
    <!--For PerformDatabaseAction / PerformDatabaseAction2 DB connetion setting-->
    <add name="EagleVision" connectionString="Data Source=LAB_DB1;Database=DB_EagleVision_Test;User ID=itsparser;Password=2wsx#EDC;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="EagleVision_Read" connectionString="Data Source=LAB_DB1;Database=DB_EagleVision_Test;User ID=itsparser;Password=2wsx#EDC;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <!--For PerformDatabaseAction3 DB connetion setting-->
    <add name="EagleVision_NewTable" connectionString="Data Source=LAB_DB1;Database=DB_EagleVision_Test;User ID=itsparser;Password=2wsx#EDC;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="EagleVision_NewTable_Read" connectionString="Data Source=LAB_DB1;Database=DB_EagleVision_Test;User ID=itsparser;Password=2wsx#EDC;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <!--For PerformDatabaseAction4 DB connetion setting-->
    <add name="EagleVision_SCDDB6" connectionString="Data Source=SCDDB6;Database=DB_EagleVision_Test;User ID=itsparser;Password=2wsx#EDC;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="EagleVision_SCDDB6_Read" connectionString="Data Source=SCDDB6;Database=DB_EagleVision_Test;User ID=itsparser;Password=2wsx#EDC;Persist Security Info=True" providerName="System.Data.SqlClient"/>

    <!--Update DB list for user-->
    <add name="DB_EagleVision_DEV" connectionString="Data Source=SCDGTM3.htc.com;Database=DB_EagleVision_DEV;User ID=itsparser;Password=2wsx#EDC;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="DB_EagleVision_TEST" connectionString="Data Source=SCDDB1;Database=DB_EagleVision_DEV;User ID=itsparser;Password=2wsx#EDC;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="InformationRetrieval" connectionString="Data Source=LAB_DB1;Database=InformationRetrieval;User ID=itsparser;Password=2wsx#EDC;Persist Security Info=True" providerName="System.Data.SqlClient"/>
	
	
	
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>